.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-top: 2em;
  z-index: 2;
}

.left-flex-navigation,
.user-corner {
  flex: 1;
  display: flex;
}

.main-logo {
  height: 8em;
}

.left-flex-navigation {
  display: flex;
  padding-left: 6em;
  /* margin-right: auto; */
  justify-content: flex-start;
  gap: 2em;
}

.plane-img, .sleep-img {
  color: white;
  height: 1.5em;
}

.flights-button,
.stays-button,
.promo-button,
.show-button {
  display: flex;
  background: none;
  border: none;
  gap: 0.5em;
  text-decoration: none;
  color: white;
  font-family: "Montserrat",
      sans-serif;
  font-weight: 600;
  align-items: center;
}

.user-corner {
  display: flex;
  padding-right: 6em;
  /* margin-left: auto; */
  justify-content: flex-end;
  gap: 2em;
}

.login {
  background: none;
  color: white;
  border: none;
  font-family: "Montserrat",
    sans-serif;
  font-weight: 600;
}

.signup {
  background: white;
  height: 3em;
  width: 7em;
  color: black;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat",
      sans-serif;
  font-weight: 600;
}

.greetings {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2em;
}

.bg-img {
  width: 96vw;
  height: 70vh;
  border-radius: 30px;
  object-fit: cover;
  
}

.greet-string {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat",
      sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
}

.text1 {
  font-size: 4em;
  font-weight: 550;
}

.text2 {
  font-size: 7em;
    font-weight: 600;
}

.text3 {
  font-size: 2em;
    font-weight: 600;
}

.search {
  background-color: white;
  width: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 72%;
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search-flex {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  gap: 1.5em;
}


.from-to,
.trip,
.depart-return,
.passenger-class {
  display: flex;
  flex-direction: column;
}

.head-buttons-flex,
.bottom-buttons-flex {
  display: flex;
  gap: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.head-buttons-flex .flights-button::after {
  content: "";
  display: block;
  width: 0.1em;
  height: 3em;
  background-color: #ccc;
  margin-left: 1em;
}

.bottom-buttons-flex {
  justify-content: flex-end;
  
}

.promo-button,
.show-button {
  font-family: "Montserrat",
    sans-serif;
  font-weight: 400;
}

.show-button {
  background-color: rgba(105, 199, 179);
  border-radius: 10px;
  height: 3em;
  width: 7em;
  border: none;
  justify-content: center;
}

.from-to,
.depart-return,
.passenger-class {
  width: 30%;
}

.from-to-label {
  width: 6em;
}

.trip-label {
  width: 3em;
}

.depart-return-label {
  width: 8.5em;
}

.passenger-class-label {
  width: 9.5em;
}

label {
  font-family: "Montserrat",
      sans-serif;
  background: white;
  font-weight: 300;
  font-size: 0.8em;
  margin-left: 1em;
  margin-bottom: -0.6em;
  z-index: 1;
  text-align: center;
}

input {
  height: 2em;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
}